.navBarHeader{
    background-color: #050d1a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navBarLogo{
    width: 25%;
}
.navBar{
    display: flex;
    color: white;
    align-items: center;
}

/*-------------------------LIST-------------------------------*/
.NavBarLists{
    display: flex;
    justify-content: space-between;
    border-right: 2px solid rgb(58, 57, 57);
    padding: 0 5px;
}
.NavBarLists li{
   margin: 0.3rem;
   list-style: none;
   font-size: 1.3rem;
   font-weight: 300;
}
.NavBarLists li a{
    color: white;
    text-decoration: none;
}
.NavBarLists li a:hover{
    color: #c7a109;
}
/* -------------------ICONS------------------------------ */
.navBarIcons{
    margin: 0 7px;
    display: inherit;
}
.icons{
    color: #fde481 !important;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.6rem !important;
}
.icons:hover{
    background-color: #fde481 !important;
    color: #050d1a !important;
    border-radius: 50%;
}
/* ---------------------BUTTON------------------------------------- */
Button{
    background-color: #fde481 !important;
    padding:10px 20px !important;
}
Button:hover{
    background-color: #c7a109 !important;
}
/* ----------------------------------------DRAWER-------------------------------- */
.navbarDrawer{
    display: none;
    color: black;

}
.sideBar{
    height: 100%;
    background-color: #050d1a;
}
.sideBarMenu{
    margin: 0 2% !important;
}
.sideBarMenu:hover{
    background-color: #050d1a !important;
}
.sideBarMenuIcon:hover{
   color: #c7a109 !important;
}
.sideBarLists{
    margin: 5% 0;
}
.sideBarLists li{
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 300;
}
.sideBarLists a{
    padding: 5%;
    text-decoration: none;
    color: white;
}
.sideBarLists a:active{
    color: #c7a109;
}
.sideBarIcon{
    width: 200px;
    text-align: center;
    margin: 0 7px;
    display: inherit;
}
.icon{
    color: #fde481 !important;
    cursor: pointer;
    margin: 0 5%;
    font-size: 1.6rem !important;
}
.icon:active{
    background-color: #fde481 !important;
    color: #050d1a!important;
    border-radius: 50%;
}
/* ------------------------------------------------------------ */
/* -------------------------MEDIA-------------------------------------- */
@media screen and (max-width: 1040px) {
    .NavBarLists li{
        margin: 0 5px;
        font-size: 1rem;
     }
     .icons{
        margin: 0 3px;
        font-size: 1.3rem !important;
    }
    .navBarLogo{
        width: 10%;
    }
    .navBar{
        width: 80%;
    }
}
@media screen and (max-width: 820px) {
    .navBarIcons{
        display: none;
    }
    .navBarList{
        display: none;
    }
    .navbarDrawer{
        display: flex;
    }
    
}
@media screen and (max-width: 700px) {
    .navBarBtn{
        margin-left: 40%;
    }
    Button{
        padding:7px 10px !important;
    }
    .navBarLogo img{
        width: 95%;
    }
}
@media screen and (max-width: 500px){
    .navBarBtn{
        margin-left: 20%;
    } 
    .navBarLogo img{
        width: 100%;
    }
}